<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Blog Articles</h1>
        <a href="/articles/new" class="btn btn-success">New Articles</a>

        <% articles.forEach(article => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= article.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                            <%= article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2">
                            <%= article.description %>
                    </div>
                    <a href="articles/<%= article.slug %>" class="btn btn-primary"> Read More </a>
                    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                    <button tyle="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <%}) %>
    </div>
</body>
</html>